html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #e4e5e7;
}
.wr{
    max-width: 1170px;
    padding: 0 40px;
    margin: 0 auto;
}

.main-container-header .title{
    white-space: nowrap;
}

.products-list{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    .product-i{
        flex-basis: 31%;
        background: #ffffff;
        border-radius: 6px;
        overflow: hidden;
        margin: 0 0 3.5% 0;
        .img-box{
            margin: 0 0 22px 0;
            img{
                width: 100%;
            }
        }
        .description{
            text-align: center;
            .name{
                color: #1c1e23;
                font-size: 16px;
                font-weight: 600;
            }
            .color{
                color: #b8bfd3;
                font-size: 12px;
                margin: 15px 0;
                text-transform: uppercase;
            }
            .price{
                color: #343e5c;
                font-size: 14px;
                font-weight: 600;
            }
        }
        .inner{
            padding: 40px;
        }
    }
    .product-i-big{
        flex-basis: 65.5%;
        .inner{
            padding: 0;
        }

        .img-box{
            max-width: 100%;
            margin: 0;
            img{
                width: 100%;

            }
        }
        .description-inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            .description {
                .name {
                    color: #1c1e23;
                    font-size: 16px;
                    font-weight: 600;
                }
                .color {
                    color: #b8bfd3;
                    font-size: 12px;
                    margin: 8px 0 0 0;
                    text-transform: uppercase;
                }
            }
            .login-button{
                padding: 10px 30px 9px;
                background: #fff;
                color: #343e5c;
                text-transform: uppercase;
                border: 2px solid #e4e9f0;
                border-radius: 20px;
                margin: 0 0 0 25px;
            }
        }
    }
}
.login-popup{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s cubic-bezier(.28,1.2,.67,1.44);
    z-index: 9;

    .overlay{
        background: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &.open{
        opacity: 1;
        pointer-events: all;
        .popup-inner{
            transform: translate(0, 0);
        }
    }
    .popup-inner{
        transition: .3s cubic-bezier(.28,1.2,.67,1.44);
        background: #ffffff;
        padding: 30px 20px;
        min-width: 250px;
        transform: translate(0, 20%);
        position: relative;
        z-index: 4;
    }
    .title{
        text-align: center;
        font-size: 24px;
        color: #82868f;
        padding: 0 0 20px 0;
    }
    .input-wr{
        position: relative;
        label{
            font-size: 12px;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate(0,-45%);
            transition: .3s cubic-bezier(.28,1.2,.67,1.44);
        }
        input{
            box-sizing: border-box;
            height: 30px;
            margin: 15px 0;
            width: 100%;
            border: 1px solid #0ebfdd;
            border-radius: 4px;
            outline: none!important;
            padding: 0 10px;
            &:focus, &:valid{
                & + label{
                    top: 3%;
                    left: 0;
                    font-size: 14px;
                }
            }
        }

    }
    button{
        border: none;
        cursor: pointer;
        width: 100%;
    }
}
.button{
    height: 40px;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 20px;
    text-transform: uppercase;
}
