.main-block{
  background: #1c1e23;
  overflow: hidden;
  position: relative;
  .slide-i{
    .wr{
      max-width: 930px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 500px;
      .l-side{
        max-width: 565px;

        .main-title{
          font-size: 42px;
          line-height: 48px;
          color: #ffffff;
        }
        p{
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          margin: 30px 0;
        }
        .btn-box{
          display: flex;
          margin: 30px 0 0 0;
          .button{
            height: 40px;
            min-width: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            background: #2754eb;
            border-radius: 20px;
            text-transform: uppercase;
            span{
              color: #ffffff;
            }
          }
        }
      }
      .r-side{
        .phone-wr{
          max-width: 300px;
          margin: 210px 0 0 0;
          img{
            width: 100%;
          }
        }
      }
    }
  }

  .slick-dots{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin: 0 0 15px 0;
    button{
      font-size: 0px;
      border: none;
      padding: 0;
      width: 8px;
      height: 8px;
      background: #1c1e23;
      border: 1px solid #8e8f91;
      border-radius: 50%;
      margin: 0 9px;
      cursor: pointer;
      outline: none!important;
      transition: .3s;
      &:hover{
        transform: scale(1.2);
      }
    }
    li.slick-active{
      button{
        background: #fff;
      }
    }

  }
  .navigation {
    color: #ffffff;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    .wr{
      position: relative;
    }
    li.prev {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translate(0,-50%);
      z-index: 2;
      width: 42px;
      height: 42px;
      background: #1c1e23;
      border-radius: 50%;
      outline: 0!important;
      border: 1px solid #8e8f91;
      cursor: pointer;
      font-size: 0;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        display: block;
        transform: translate(-50%,-50%) rotate(45deg);
        transition: .3s;
      }
      &:hover{
        &:before{
          transform: translate(-80%,-50%) rotate(45deg);
        }
      }
    }
    li.next {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translate(0,-50%);
      z-index: 2;
      width: 42px;
      height: 42px;
      background: #1c1e23;
      border-radius: 50%;
      outline: 0!important;
      border: 1px solid #8e8f91;
      cursor: pointer;
      font-size: 0;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 47%;
        width: 8px;
        height: 8px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        display: block;
        transform: translate(-50%,-50%) rotate(45deg);
        transition: .3s;
      }
      &:hover{
        &:before{
          transform: translate(-20%,-50%) rotate(45deg);
        }
      }
    }
  }

}